<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--显示格式配置，\r\n-回车换行，{0}-车牌号，{1}-时间-->
    <add key="format" value=" 停车一分钟\r\n    记点\r\n {0}\r\n  {1}" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
