<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--显示格式配置，\r\n-回车换行，{0}-X股，{1}-出入库，{2}-车型，{3}-车号，{4}-时间-->
    <add key="format" value=" 停车一分钟\r\n    签点\r\n {0}  {1}\r\n    {2}\r\n  {3}" />
    <!--显示屏默认显示-->
    <add key="default" value=" 停车一分钟\r\n    记点"/>
    <!--执行间隔：秒-->
    <add key="interval" value="31111" />
    
    <!--来源配置-->
    <!--主机IP-->
    <add key="src_host" value="127.0.0.1" />
    <!--FTP用户名-->
    <add key="src_usr" value="xujd" />
    <!--FTP密码-->
    <add key="src_pwd" value="1234" />
    <!--文件路径，为相对路径，如""、"temp"、"data\temp\sub"等-->
    <add key="src_path" value="" />
    <!--出入库标识映射-->
    <add key="inout_map" value="0:出库;1:入库"/>
    <!--去向配置-->
    <!--key的格式：dest_host前缀+任意字符-->
    <!--value格式：
          HOST=主机IP;
          USER=FTP用户名;
          PWD=FTP密码;
          PATH=文件路径，为相对路径，如""、"temp"、"data\temp\sub"等;
          FILE=发往该主机的文件前缀标识@上下行(0-上行/出库，1-下行/入库)，多个可以逗号分割;
          TYPE=线路类型名称-->
    <add key="dest_host_1" value="HOST=127.0.0.1;USER=xujd;PWD=1234;PATH=temp;FILE=DHOV1@1,DHOV2@1;TYPE=机入线"/>
    <add key="dest_host_2" value="HOST=192.168.1.102;USER=Administrator;PWD=123456;PATH=;FILE=DHOV10@0,DHOV20@0;TYPE=机开线"/>
    <add key="dest_host_3" value="HOST=127.0.0.1;USER=xujd;PWD=1234;PATH=temp;FILE=DHOV30@0,DHOV40@0;TYPE=机开线"/>
    <add key="dest_host_4" value="HOST=127.0.0.11;USER=xujd;PWD=1234;PATH=temp;FILE=DHOV30@1,DHOV40@1;TYPE=机入线"/>
    <add key="dest_host_5" value="HOST=192.168.1.104;USER=Administrator;PWD=123456;PATH=;FILE=DHOV50;TYPE=机开线"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>